[submodule "backend"]
	path = backend
	url = git@github.com:Chooook/llm_proxy_backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Chooook/llm_proxy_frontend.git
[submodule "worker"]
	path = worker
	url = git@github.com:Chooook/llm_proxy_worker.git
